#minhaTabela{
    width:80%;
    margin:0 auto;
    border:0;
    box-shadow: 0 5px 30px darkgrey;
    border-spacing: 0;
  }
  
  #minhaTabela thead th{
    font-weight: bold;
    background-color: black;
    color:white;
    
    padding:5px 10px;
  }
  
  #minhaTabela tr td{
    padding:5px 10px;
    text-align: center;
    
    cursor: pointer; /**importante para não mostrar cursor de texto**/
  }
  
  #minhaTabela tr td:last-child{
    text-align: right;
  }
  
  /**Cores**/
  #minhaTabela tr:nth-child(odd){
    background-color: #eee;
  }
  
  /**Cor quando passar por cima**/
  #minhaTabela tr:hover td{
    background-color: #feffb7;
  }
  
  /**Cor quando selecionado**/
  #minhaTabela tr.selecionado td{
    background-color: #aff7ff;
  }
  
  button#visualizarDados{
    background-color: white;
    border: 1px solid black;
    width:50%;
    margin: 10px auto;
    padding:10px 0;
    display: block;
    color: black;
  }